

{% extends 'basegeneral.html.twig' %}

{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <h1>Liste des tournois</h1>
    {% block search %}
        <form>
            <div class="input-group input-group-dynamic mb-8">
                <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>

                <input class="form-control" id="search" placeholder="Search" type="text" >

            </div>
        </form>
    {% endblock %}

    <a href="{{ path('ajouter_tournoi') }}" class="btn btn-sm btn-warning">
        ajouter tournoi
    </a>
    <a href="{{ path('excel') }}" class="btn btn-sm btn-warning">
        Exporter tous les participants
    </a>
    <a href="{{ path('rec_stat') }}" class="btn btn-sm btn-warning">
        statistique
    </a>
    <br> <br>
    <table id="t" class="table table-info">

        <tr>
            <th>IdTournoi</th>
            <th>NomTournoi</th>

            <th>DateTournoi</th><th>heure</th>
            <th>Resultat</th>
            <th>nb_participants</th>

            <th>image_tournoi</th>

        </tr>
        <tbody id="all">
        {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.idTournoi }}</td>
                <td>{{ tournoi.nomTournoi }}</td>

                <td>{{ tournoi.dateTournoi | date('Y-m-d') }}</td>
                <td>{{ tournoi.heure }}</td>
                <td>{{ tournoi.resultatTournoi }}</td>
                <td>{{ tournoi.nbParticipants }}</td>
                <td><img src="{{asset('uploads/') ~ tournoi.imageTournoi}}"  width="100" height="100"></td>



                <td>

                        <button class="btn btn-sm btn-outline-danger" id="click{{ tournoi.idTournoi }}" >delete</button>

                    &nbsp
                    <a href="{{ path('modifier_tournoi', {'id': tournoi.idTournoi}) }}">
                        <button class="btn btn-sm btn-outline-primary">Update</button>
                    </a>
                    <a href="{{ path('excel1', {'id': tournoi.idTournoi}) }}">
                        <button class="btn btn-sm btn-outline-primary">participants</button>
                    </a>
                </td>

            </tr>
            <script>
                $('#click{{ tournoi.idTournoi }}').on('click',function (){
                    const swalWithBootstrapButtons = Swal.mixin({
                        customClass: {
                            confirmButton: 'btn btn-success',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: 'You won t be able to revert this!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {


                            swalWithBootstrapButtons.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'

                            )
                            window.location.replace("{{ path('supprimer_tournoi', {'id': tournoi.idTournoi})}}");
                        } else if (
                            /* Read more about handling dismissals below */
                            result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                                'Cancelled',
                                'Your Tournament is still here 🙂',
                                'error'
                            )
                        }
                    })
                })
            </script>

        {% endfor %}
        </tbody>
        <tbody id="search"></tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('searchT') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {

                                $('#t tbody#all').hide();

                                $('#t tbody#search').append("<tr>");
                                $('#t tbody#search').append(" <td>"+obj.idTournoi+"</td>");
                                $('#t tbody#search').append(" <td>"+obj.nomTournoi+"</td>");
                                $('#t tbody#search').append(" <td>"+obj.dateTournoi+"</td>");
                                $('#t tbody#search').append(" <td>"+obj.heure+"</td>");
                                $('#t tbody#search').append(" <td>"+obj.resultatTournoi+"</td>");
                                $('#t tbody#search').append(" <td>"+obj.nbParticipants+"</td>");

                                var p="/uploads/"+obj.imageTournoi;
                                var img = "<img src="+p+" width='100' height='100'/>";
                                $('#t tbody#search').append(" <td>"+img+"</td>");






                                $('#t tbody#search').append("<td> <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.id+"'; role='button'> Show </button>");
                                $('#t tbody#search').append(" <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.id+"'; role='button'> Edit </button></td>");



                                $('#t tbody#search').append("</tr>");
                                // <td>'+obj.description+'</td><td>'+obj.dateajout+'  </td><td></td><td><a href="article/'+obj.id+'">show</a> </br><a href="article/'+obj.id+'/edit">edit</a></td></tr>');
                            });
                        }
                        //$('#t tbody#search').append('<tr><td> '+obj.lieu+'  </td><td>    '+obj.nbPlace+'  </td><td>'+obj.descriptions+' </td><td>'+obj.dateEvent+' </td><td>'+obj.getcategory+' </td><td>'+obj.Description+'</td><td><td><a href="event/'+obj.idEvent+'/edit">Modifier</a></td></tr>');
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });





        });
    </script>
{% endblock %}