
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('l_assets/images/icons/favicon.ico') }}"/>
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/vendor/bootstrap/css/bootstrap.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/vendor/animate/animate.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/vendor/css-hamburgers/hamburgers.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/vendor/animsition/css/animsition.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/vendor/select2/select2.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/vendor/daterangepicker/daterangepicker.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/css/util.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('l_assets/css/main.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        {% endblock %}

        {% block javascripts %}
            <!--===============================================================================================-->
            <script src="{{ asset('l_assets/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('l_assets/vendor/animsition/js/animsition.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('l_assets/vendor/bootstrap/js/popper.js') }}"></script>
            <script src="{{ asset('l_assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('l_assets/vendor/select2/select2.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('l_assets/vendor/daterangepicker/moment.min.js') }}"></script>
            <script src="{{ asset('l_assets/vendor/daterangepicker/daterangepicker.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('l_assets/vendor/countdowntime/countdowntime.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('l_assets/js/main.js') }}"></script>

        {% endblock %}

{% block body %}

<div class="limiter" style="background-color: #666666;">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input100" autocomplete="email" required autofocus>
        <span class="focus-input100"></span>
        <span class="label-input100">Email</span>

    </div>


    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input type="password" name="password" id="inputPassword" class="input100" autocomplete="current-password" required>
        <span class="focus-input100"></span>
        <span class="label-input100">Password</span>

    </div>

    <div class="flex-sb-m w-full p-t-3 p-b-32">
        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
                Remember me
            </label>
        </div>

        <div>
            <a href="{{ path('request-password-reset1') }}" class="txt1">
                Forgot Password?
            </a>
        </div>
    </div>


    <div class="container-login100-form-btn">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button  type="submit">
            Sign in
        </button>
    </div>

    <div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
    </div>

    <div class="login100-form-social flex-c-m">
        <a href="{{ path('connect_facebook_start') }}" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fa fa-facebook-f" aria-hidden="true" ></i>
        </a>

        <a href="{{ path('connect_google') }}" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fa fa-google" aria-hidden="true"></i>
        </a>
    </div>
    </form>

    <div class="login100-more" style="background-image: url('{{ asset('images/img-01_002.jpg') }}')">
    </div>
        </div>
    </div>
</div>

    {#---------------------------------#}
{# <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
#}
{#
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    </form> #}
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}
