{% extends 'basegeneral.html.twig' %}
{% block title %}News index{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<h1>Liste des matchs</h1>

<a href="{{ path('ajouter_match') }}" class="btn btn-sm btn-warning">
    ajouter match
</a>
<br> <br>
<table class="table table-info">

    <tr>
        <th>IdMatch</th>
        <th>Equipe1</th>
        <th>Equipe2</th>
        <th>Tournoi</th>
        <th>Date</th>
        <th>Resultat</th>
    </tr>
    {% for match in matchs %}
        <tr>
            <td>{{ match.idMatch }}</td>
            <td>{{ match.idEquipe1 }}</td>
            <td>{{ match.idEquipe2 }}</td>
            <td>{{ match.idTournoi }}</td>
            <td>{{ match.DateMatch |date('Y-m-d')  }}</td>
            <td>{{ match.ResultatMatch }}</td>
            <td>

                    <button class="btn btn-sm btn-outline-danger" id="click" onclick="">delete</button>

                &nbsp
                <a href="{{ path('modifier_match', {'id': match.idMatch}) }}">
                    <button class="btn btn-sm btn-outline-primary">Update</button>
                </a>
            </td>

        </tr>
        <script>
            $('#click').on('click',function (){
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: 'You won t be able to revert this!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {


                        swalWithBootstrapButtons.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'

                        )
                        window.location.replace("{{ path('supprimer_match', {'id': match.idMatch})}}");
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your Match is still here 🙂',
                            'error'
                        )
                    }
                })
            })
        </script>
    {% endfor %}

</table>
{% endblock %}
