{% extends 'front/client.html.twig' %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <table border="1">
            <thead>
            <th>nom</th>
            <th>prix </th>
            <th>image</th>
            <th>quantité </th>
            <th>description</th>
            </thead>
            <tbody>
            {%  for t in prod %}
                <tr>
                    <td>{{ t.nomprod }}</td>
                    <td> {{ t.prixprod }} </td>
                    <td> {{ t.imgprod }} </td>
                    <td> {{ t.quantprod }} </td>
                    <td> {{ t.descprod }} </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}