{% extends 'basegeneral.html.twig' %}
{% block body %}
    <table class="table table-info">
   <tr>

        <td>prix</td>
        <td>libelle</td>
        <td>Type</td>


    </tr>
    {% for c in Ticket %}
        <tr>
            <td>{{ c.prix }}</td>
            <td>{{ c.libelle }}</td>
            <td>{{ c.type}}</td>
            
            
             
           
            <td> <a href="{{ path('supprimerTicket',{'id':c.id}) }}">Delete</a> </td>
            <td> <a href="{{ path('modifierTicket',{'id':c.id}) }}">Modifier</a> </td>
            <td> <a href="{{ path('ajouterTicket',{'id':c.id}) }}">Ajouter une ticket</a> </td>
            <td>
                <a href="{{ path('pdfbox') }}"class="btn btn-primary">Save As PDF</a>
            </td>
            <td>
            <a href="{{ path('qrcode_Ticket',{'id':c.id}) }}">
                <button class="btn btn-sm btn-outline-dark">QRcode</button>
            </a>
            </td>
        </tr>

    {% endfor %}
</table>
    <div class="navigation">{{ knp_pagination_render(Ticket,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{'rounded': true,'size': 'small' }) }}</div>
{% endblock %}