{% extends 'basegeneral.html.twig' %}
{% block body %}


<div class="sidebar-search">
      <div class="input-group custom-search-form">
          <input type="text" id="search" class="form-control" placeholder="Search item">
      </div>
      <!-- /input-group -->
  </div>
  <ul class="nav" id="side-menu">
      <li>
          <ul class="nav nav-second-level" id="entitiesNav">
          </ul>
      </li>
  </ul>
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 1;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        
                        if (value==$(that).val()) {
   
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'Equipe') {
                                        if (id != 'error') {
                                             
                                            console.log(id , value)
                                           entitySelector.append('<li><b>'+value[0]+' '+value[1]+'</b><a href="/detailEquipe/'+id+'">'+'<img src="/images/clic.png" style="width: 50px; height: 50px"/>'+'</a></li>');
                                                    
                                                    
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                     }
                });
            }
        });
    });
</script>
{#  <table border="1">
   <tr>
        <td>Nom d'équipe</td>
        <td>type</td>
        <td>description</td>
        <td>mail </td>
        <td>nombre de joueur </td>
    </tr>
    {% for E in Equipe %}
        <tr>
            <td>{{ E.nomEquipe }}</td>
            <td>{{ E.typeEquipe }}</td>
            <td>{{ E.descriptionEquipe }}</td>
            <td>{{ E.mailEquipe }}</td>
            <td>{{ E.nbreJoueur}}</td>
             
           
            <td> <a href="{{ path('supprimerEquipe',{'id':E.id}) }}" onclick="return confirm('are u sure?')">Delete</a> </td>
            <td> <a href="{{ path('modifierEquipe',{'id':E.id}) }}">Modifier</a> </td>
            <td> <a href="{{ path('qrcode_equipe',{'id':E.id}) }}" >QRcode</a> </td>
            
        </tr>
    {% endfor %}
</table>#}



<table class="table table-info">

    <tr>
      <th>Nom d'équipe</th>
        <th>type</th>
        <th>description</th>
        <th>mail </th>
        <th>nombre de joueur </th>
    </tr>
    {% for E in Equipe %}
        <tr>
            <td>{{ E.nomEquipe }}</td>
            <td>{{ E.typeEquipe }}</td>
            <td>{{ E.descriptionEquipe }}</td>
            <td>{{ E.mailEquipe }}</td>
            <td>{{ E.nbreJoueur}}</td>
            <td>
                <a href="{{ path('supprimerEquipe',{'id':E.id}) }}" onclick="return confirm('are u sure?')">
                    <button class="btn btn-sm btn-outline-danger">delete</button>
                </a>
                <a href="{{ path('modifierEquipe',{'id':E.id}) }}">
                    <button class="btn btn-sm btn-outline-primary">Update</button>
                </a>
                <a href="{{ path('qrcode_equipe',{'id':E.id}) }}">
                    <button class="btn btn-sm btn-outline-dark">QRcode</button>
                    </a>
                    <td> <a href="{{ path('AfficherTerrain',{'id':E.id}) }}">Afficher les terrains relatives à ce cette equipe</a> </td>
            <td> <a href="{{ path('ajouterTerrain',{'id':E.id}) }}">Ajouter un terrain à cette equipe</a></td>
            </td>

        </tr>
    {% endfor %}
    </table>












<div class="navigation">{{ knp_pagination_render(Equipe,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{'rounded': true,'size': 'small' }) }}</div>
<li>
    <form method="post" action="{{ path('rec_stat1') }}">
    <input type="submit" value="Statistique" class="btn btn-primary btn-sm" >
    </form>
</li>
<li>
    <form method="post" action="{{ path('Pdf') }}">
    <input type="submit" value="Generate pdf" class="btn btn-primary btn-sm" >
    </form>
</li>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}