<table>
<tr> 
<th>Nom de la séance</th>
<th>Nom de l'entraineur</th>
<th>Type</th>
<th>Valeur Physique</th>
<th>Nombre d'heure</th>
</tr> 
<tr{% for c in Cours %}>
<td> {{c.titre}} </td>
<td> {{c.nome}} </td>
<td> {{c.type}} </td>
<td> {{c.imc}} </td>
<td> {{c.nbHeure}} </td>
</tr{% endfor %}>

</table>
