{% block body %}
<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                    <div class="signup-img-content">
                        <h2>change password </h2>
                    </div>
                </div>
                <div class="signup-form">
                    <form method="POST" class="register-form" id="register-form">
                        {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    {{ form_widget(f.password.first,{'attr':{'class':'form-control'}}) }}
                                </div>
                                {{ form_errors(f.password.first,{'attr':{'class':'text-danger'}}) }}
                                <div class="form-input">
                                    {{ form_widget(f.password.second,{'attr':{'class':'form-control'}}) }}
                                </div>
                                {{ form_errors(f.password.second,{'attr':{'class':'text-danger'}}) }}

        </div>


        {{ form_end(f) }}
        </form>
    </div>
</div>
</div>

</div>
{% endblock %}